<div class="big-container" id="particles-js">
  <article class="article">
    <div style="border-style:dashed;width:80%;height:auto;padding:5px;border-width:3px;border-color:rgb(0,102,255);border-radius:10px;margin:20px auto;">
      <p style="text-align:center;font-size:15px;font-family:Impact,sans-serif;color:rgb(0,102,255);">Soyorin.Work - AKlassen's Blogs</p>
    </div>

    <div class="right-holder">
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family:Georgia,'Times New Roman',Times,serif;">网站介绍</a></span>
          </li>
          <li class="person-img-li" style="text-align:center;">
            <img alt="logo" id="person-img" src="../img/builder.jpeg">
          </li>
          <li style="text-align:center;list-style:none;">
            <script src="../js/comcode/com_artmenu.js"></script>
            <span style="display:inline-block;border-right:1px solid var(--text-light);padding:0 10px;"><span style="font-size:x-large;color:var(--text-muted);"><script>document.write(count_tags('articles'));</script></span><br><small style="color:var(--text-muted);">文章</small></span>
            <span style="display:inline-block;border-right:1px solid var(--text-light);padding:0 10px;"><span style="font-size:x-large;color:var(--text-muted);"><script>document.write(count_tags('categories'));</script></span><br><small style="color:var(--text-muted);">分类</small></span>
            <span style="display:inline-block;padding:0 10px;"><span style="font-size:x-large;color:var(--text-muted);"><script>document.write(count_tags('authors'));</script></span><br><small style="color:var(--text-muted);">著者</small></span>
          </li>
          <li class="person-intro-detail" style="text-align:center;">
            <p style="color:var(--text-muted);">一个记录学习和思考的Blog小站</p>
            <p style="color:var(--text-muted);">Builder: ArbeiterKlassen(AKlassen)</p>
          </li>
          <li class="person-intro-detail" style="text-align:center;">
            <p style="color:var(--text-muted);">Based on: Github Pages</p>
          </li>
          <li style="text-align:center;list-style:none;padding:10px;">
            <span class="icon-box"><a id="github-icon" target="_blank" href="https://github.com/arbeiterklassen" class="foot-icon"></a></span>
            <span class="icon-box"><a id="qq-icon" target="_blank" href="tencent://Message/?Uin=1038171180&amp;websiteName=q-zone.qq.com&amp;Menu=yes" class="foot-icon"></a></span>
            <span class="icon-box"><a id="bili-icon" target="_blank" href="https://space.bilibili.com/353804830" class="foot-icon"></a></span>
          </li>
        </ul>
      </div>
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family:Georgia,'Times New Roman',Times,serif;">宣传栏</a></span>
          </li>
        </ul>
      </div>
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <li><img src="../img/library.jpg" alt="Thereader" style="width:100%;border-radius:8px;"></li>
          <li class="person-intro-detail"><h2 style="text-align:center;color:var(--text-muted);">广告位招租</h2></li>
          <li class="person-intro-detail">
            <p style="color:var(--text-muted);font-size:13px;">Bei der Philosophie selbst und beim Lernen geht es nicht nur um B&uuml;cher und Wissen, sondern auch um die M&ouml;glichkeit der Kommunikation und den Raum f&uuml;r Gemeinschaft.</p>
            <p style="color:var(--text-muted);font-size:13px;">哲学本身和学习不仅仅关乎书本和知识，更在于交流和共进之空间的可能性</p>
          </li>
        </ul>
      </div>
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <li class="person-intro-detail"><p style="color:var(--text-muted);text-align:center;">我也不知道这里要写什么但总之是就放点东西吧~</p></li>
        </ul>
      </div>
    </div>

    <div class="left-holder">
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family:Georgia,'Times New Roman',Times,serif;">置顶</a></span>
          </li>
        </ul>
      </div>
      <div id="article-holder" style="width:100%;float:left;">
        <div class="article-box">
          <div class="ab-content">
            <a href="https://www.bilibili.com/video/BV13Nufz4EV6/" class="article-img-box">
              <img class="lazy-image article-img" data-src="https://i2.hdslb.com/bfs/archive/ba4083b43b84edc140bc57e97c5ae975476e0846.jpg" alt="" src="https://i2.hdslb.com/bfs/archive/ba4083b43b84edc140bc57e97c5ae975476e0846.jpg">
            </a>
            <div class="article-title"><a href="https://www.bilibili.com/video/BV13Nufz4EV6/">来自L-I-F的生日祝福</a></div>
            <div class="article-detail-box c-666"></div>
            <span class="article-tail-box">
              <span class="article-date c-999">2025-5-19</span>
              <span class="article-author one-line-overflow c-999">L-I-F</span>
            </span>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family:Georgia,'Times New Roman',Times,serif;">分类</a></span>
          </li>
        </ul>
      </div>
      <link rel="stylesheet" href="../css/font.css">
      <div id="article-holder" style="width:100%;float:left;">
        <div id="categories-holder">
          <div class="row">
            <% var cats = [
              {n:'Code Development & Study',sub:'秃头神器',img:'code',bg:'#1a1a2e'},
              {n:'读书思考',sub:'思维的海滩',img:'book',bg:'#16213e'},
              {n:'政史经哲',sub:'时代的手术刀',img:'eup',bg:'#0f3460'},
              {n:'转载文章',sub:'思想碰撞与火花',img:'art',bg:'#533483'},
              {n:'记录生活',sub:'留忆',img:'rec',bg:'#e94560'},
              {n:'日常抱怨',sub:'无名火',img:'cpl',bg:'#2d4059'},
              {n:'推荐Something',sub:'给平淡生活添点乐子',img:'ani',bg:'#6a2c70'},
              {n:'技术相关',sub:'启智',img:'tec',bg:'#b83b5e'},
              {n:'其他',sub:'杂',img:'oth',bg:'#364f6b'}
            ];
            for(var ci = 0; ci < cats.length; ci++){ %>
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-<%= ci+1 %>" style="background-image:url('https://img.soyorin.work/article-img/<%= cats[ci].img %>.jpg');">
                  <div style="text-align:center;font-family:Fredericka-tg;color:#fff;font-size:middle;line-height:100px;">
                    <h1><%= cats[ci].n %></h1>
                  </div>
                  <div style="text-align:center;font-family:Kanji-kai-2;color:#fff;font-size:small;font-weight:100;">
                    <h1><%= cats[ci].sub %></h1>
                  </div>
                </div>
                <a href="./categories.html?cate=<%= ci+1 %>">
                  <div class="card__side card__side--back-<%= ci+1 %>" style="background:<%= cats[ci].bg %>;">
                    <div style="text-align:center;font-family:Fredericka-tg;color:#fff;font-size:middle;line-height:100px;">
                      <h1><%= cats[ci].n %></h1>
                    </div>
                    <div style="text-align:center;font-family:Kanji-kai-2;color:#fff;font-size:small;font-weight:100;">
                      <h1><%= cats[ci].sub %></h1>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div id="article-holder" style="width:100%;float:left;">
        <div id="pages-container"></div>
        <div id="chooser-container">
          <script>
            var page = 1;
            if(getParams("page") != null) page = parseInt(getParams("page"));
            print_page(page);
            function page_chooser(mode){
              var h = '<div class="article-box" style="width:auto;height:32px;background-color:transparent;" id="choosen-container">';
              h += '<div class="ab-content" style="background-color:transparent;">';
              h += '<span style="height:32px;width:auto;border-radius:4px;margin:0 auto;float:left;text-align:center;font-size:14px;color:var(--text-muted);background:var(--bg-card);padding:4px 15px;"><strong>'+count+' 篇，共 '+pages+' 页</strong></span>';
              for(var i=1;i<=pages;i++) h += '<div class="choosen-box"><a style="color:white" href="./index.html?mode='+mode+'&page='+i+'">'+i+'</a></div>';
              h += '</div></div>';
              document.getElementById('chooser-container').innerHTML = h;
            }
            page_chooser(mode);
          </script>
        </div>
      </div>
      <div id="article-holder" style="width:100%;float:left;">
        <div style="width:auto;height:auto;padding:15px;background:var(--bg-card);border-radius:10px;box-shadow:var(--shadow-card);">
          <p style="color:var(--text-muted);">联系：arbeiterklassen@163.com | 非常感谢大家一直以来的支持~</p>
        </div>
      </div>
    </div>
  </article>
</div>
