<div class="big-container" id="particles-js">
  <article class="article">
    <br>
    <div style="border-style:dashed;width: 80%;height: auto;padding: 5px 5px 5px 5px;border-width: 3px;border-color: rgb(0, 102, 255);border-radius: 10px;margin: 0 auto;">
      <p style="text-align:center;font-size:15px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(0, 102, 255);">Soyorin.Work - AKlassen's Blogs</p>
    </div>
    <div class="right-holder">
      <!-- 网站介绍 -->
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">网站介绍</a></span>
          </li>
          <li class="person-img-li" style="text-align: center;">
            <img alt="logo" id="person-img" src="../img/builder.jpeg">
          </li>
          <li style="text-align:center;list-style:none;">
            <script src="../js/comcode/com_artmenu.js"></script>
            <span style="display:inline-block;border-right:1px solid var(--text-light);padding:0 10px;"><span style="font-size:x-large;color:var(--text-muted);"><script>document.write(count_tags('articles'));</script></span><br><small style="color:var(--text-muted);">文章</small></span>
            <span style="display:inline-block;border-right:1px solid var(--text-light);padding:0 10px;"><span style="font-size:x-large;color:var(--text-muted);"><script>document.write(count_tags('categories'));</script></span><br><small style="color:var(--text-muted);">分类</small></span>
            <span style="display:inline-block;padding:0 10px;"><span style="font-size:x-large;color:var(--text-muted);"><script>document.write(count_tags('authors'));</script></span><br><small style="color:var(--text-muted);">著者</small></span>
          </li>
          <li class="person-intro-detail" style="text-align: center;">
            <h5>一个记录学习和思考的Blog小站<br></h5>
            <br><h5>Builder: ArbeiterKlassen(AKlassen)</h5>
          </li>
          <li class="person-intro-detail" style="text-align: center;">
            <h5>Based on: Github Pages;Go+Vue</h5>
          </li>
          <li style="list-style:none;"><div class="icon-center">
            <span class="icon-box"><a id="github-icon" target="_blank" href="https://github.com/arbeiterklassen" class="foot-icon"></a></span>
            <span class="icon-box"><a id="qq-icon" target="_blank" href="tencent://Message/?Uin=1038171180&amp;websiteName=q-zone.qq.com&amp;Menu=yes" class="foot-icon"></a></span>
            <span class="icon-box"><a id="bili-icon" target="_blank" href="https://space.bilibili.com/353804830" class="foot-icon"></a></span>
          </div></li>
        </ul>
      </div>
      <!-- 宣传栏 -->
      <div class="column-container" style="width: 100%;float: left;">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">宣传栏</a></span>
          </li>
        </ul>
      </div>
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <li><img src="../img/library.jpg" alt="Thereader" style="width:100%;border-radius:8px;"></li>
          <li class="person-intro-detail">
            <h2 style="text-align:center">广告位招租（）</h2>
          </li>
          <li class="person-intro-detail">
            <h5 style="text-align:center">Bei der Philosophie selbst und beim Lernen geht es nicht nur um Bücher und Wissen, sondern auch um die Möglichkeit der Kommunikation und den Raum für Gemeinschaft.</h5>
            <h6 style="text-align:center">哲学本身和学习不仅仅关乎书本和知识，更在于交流和共进之空间的可能性</h6>
          </li>
        </ul>
      </div>
      <div class="column-container">
        <ul class="column_box" id="like-box">
          <li class="person-intro-detail">
            <h5 style="text-align:center">我也不知道这里要写什么但总之是就放点东西吧~</h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="left-holder">
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">置顶</a></span>
          </li>
          <li class="person-intro-detail"><strong></strong></li>
        </ul>
      </div>
      <!-- 置顶文章 -->
      <div id="article-holder" style="width: 100%; float: left">
        <div class="article-box">
          <div class="ab-content">
            <a href="https://www.bilibili.com/video/BV13Nufz4EV6/" class="article-img-box">
              <img class="lazy-image article-img" data-src="https://i2.hdslb.com/bfs/archive/ba4083b43b84edc140bc57e97c5ae975476e0846.jpg" alt="" src="https://i2.hdslb.com/bfs/archive/ba4083b43b84edc140bc57e97c5ae975476e0846.jpg">
            </a>
            <div class="article-title">
              <a href="https://www.bilibili.com/video/BV13Nufz4EV6/">来自L-I-F的生日祝福</a>
            </div>
            <div class="article-detail-box c-666"></div>
            <span class="article-tail-box">
              <span class="article-date c-999">2025-5-19</span>
              <span class="article-author one-line-overflow c-999">L-I-F</span>
            </span>
          </div>
        </div>
      </div>
      <!-- 分类卡片 -->
      <script type="text/javascript" src="../js/comcode/com_artmenu.js"></script>
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">分类</a></span>
          </li>
          <li class="person-intro-detail"><strong></strong></li>
        </ul>
      </div>
      <link rel="stylesheet" href="../css/font.css">
      <div id="article-holder" style="width: 100%; float: left">
        <div id="categories-holder">
          <div class="row">
            <% var cats = [
              { name:'CodeDev', en:'Code Development & Study', cn:'秃头神器', img:'code.jpg', cate:1, color:'rgba(255, 91, 146, 0.762)' },
              { name:'Lecture', en:'Lecture et apprentissage', cn:'读书思考', img:'book.jpg', cate:2, color:'rgba(255, 91, 146, 0.762)' },
              { name:'Philos', en:'Philosophie européenne', cn:'欧陆哲学', img:'eup.jpg', cate:3, color:'rgba(255, 91, 146, 0.762)' },
              { name:'Article', en:'Articles reproduits', cn:'转载文章', img:'art.jpg', cate:4, color:'rgba(255, 91, 146, 0.762)' },
              { name:'Registre', en:'Registre des vies', cn:'记录生活', img:'rec.jpg', cate:5, color:'rgba(255, 91, 146, 0.762)' },
              { name:'Plaintes', en:'Plaintes quotidiennes', cn:'日常抱怨', img:'cpl.jpg', cate:6, color:'rgba(255, 91, 146, 0.762)', dark:true },
              { name:'不是广告', en:'Produits recommandés', cn:'推荐Something', img:'pro.jpg', cate:7, color:'rgba(255, 91, 146, 0.762)' },
              { name:'Techお宅', en:'Liés à la technologie', cn:'技术相关', img:'tech.jpg', cate:8, color:'rgba(255, 91, 146, 0.762)' },
              { name:'Andere', en:'Andere Typen', cn:'其他', img:'oth.jpg', cate:9, color:'rgba(255, 91, 146, 0.762)', dark:true }
            ]; %>
            <% for (var i = 0; i < cats.length; i++) { var c = cats[i]; %>
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/<%= c.img %>');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 100px;">
                    <h1<%- c.dark ? ' style="color:#000619"' : '' %>><%= c.en %></h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1<%- c.dark ? ' style="color:#000619"' : '' %>><%= c.cn %></h1>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: <%= c.color %>;width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;"><%= c.name %></h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid <%= c.color %>;border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;" href="javascript:void(0)" onclick="{window.location.href='./categories.html?cate=<%= c.cate %>'}"> More</a></div>
                    <div style="position: absolute;width: 90%;height: auto;top:45px;">
                      <script>print_authorlist(<%= c.cate %>);</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <!-- 联系卡片 -->
            <div class="col-1-of-3">
              <div class="card">
                <div class="card__side card__side--front-6" style="background-image: url('https://img.soyorin.work/article-img/contact.jpg');">
                  <div style="text-align: center;font-family:Fredericka-tg;color: rgb(255, 255, 255);font-size: middle;line-height: 90px;">
                    <h1>Kommen Sie zu uns!</h1>
                  </div>
                  <div style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);font-size: small;font-weight: 100;">
                    <h1>联系我~</h1>
                    <h6>理论|读书|讨论|开发</h6>
                    <h6>QQ: 1038171180</h6>
                  </div>
                </div>
                <div class="card__side card__side--back card__side--back-6">
                  <div style="width: 100px;height: 30px;left:-10px" id="signbox">
                    <div style="background-color: rgba(255, 91, 146, 0.762);width:100px;height:30px;position: absolute;display:grid;">
                      <h1 style="text-align: center;font-family:Kanji-kai-2;color: rgb(255, 255, 255);line-height: 28px;">Other</h1>
                    </div>
                    <div style="width:0px;height:0px;position: absolute;left: 100px;border-top: 30px solid rgba(255, 91, 146, 0.762);border-right: 30px solid transparent;"></div>
                    <div style="position: absolute;width:90px;height: 60px;background:linear-gradient(-45deg, #64b5f6, #f403d1);bottom: -10px;right: -10px;border-radius: 10px;"><a style="text-align: center;line-height: 45px;font-size: large;color: #fff;"> More</a></div>
                  </div>
                  <div style="position: absolute;width: 90%;height: auto;top:45px;">
                    <div style="width: 48%;height:35px;margin: 0 auto;display:inline-block;text-align:center">
                      <script>document.write('<a style="color: rgb(237,118,137,1);font-size: large;" href="../inner/index.html?mode='+mode+'">特别文档</a>')</script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 文章列表概览 -->
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;">概览</a></span>
          </li>
          <li class="person-intro-detail"><strong></strong></li>
        </ul>
      </div>
      <div id="article-holder" style="width: 100%; float: left">
        <div id="celebrates-container"></div>
        <script type="text/javascript" src="../js/celebrate.js"></script>
        <div id="pages-container"></div>
        <div id="chooser-container">
          <script>
            var page = 1;
            if(getParams("page") != null){page = getParams("page")};
            print_page(page, 1);
            function page_chooser(mode){
              var h = '<div class=\"pagination\">';
              h += '<span class=\"pagination-info\">'+count+' 篇 / '+pages+' 页</span>';
              for(var i = 1; i <= pages; i++){
                h += '<a class=\"pagination-btn'+(i==page?' active':'')+'\" href=\"./index.html?mode='+mode+'&page='+i+'\">'+i+'</a>';
              }
              h += '</div>';
              document.getElementById('chooser-container').innerHTML = h;
            };
            page_chooser(1);
          </script>
        </div>
      </div>
      <!-- Contact -->
      <div class="column-container-wider">
        <ul class="column_box" id="like-box">
          <li class="column-title">
            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: x-large;">Contact</a></span>
          </li>
          <li style="list-style:none;">
            <div id="contact-container" style="width:93%;height:auto;border:1px dashed var(--border-light);border-radius:5px;margin:0 auto;padding:10px;">
              <div id="sub-contact-container" style="width:92%;height:auto;color:var(--text-secondary);text-align:left;">
                <p style="margin:5px 0;">Email: arbeiterklassen@163.com</p>
                <p style="margin:5px 0;">GitHub: ArbeiterKlassen</p>
                <p style="margin:5px 0;">QQ: 1038171180</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </article>
</div>
